{% extends 'base.html' %}
{% block content %}

<h2><i class="bi bi-cpu"></i> Phylogenetics toolbox</h2>
<p class="lead">
  Web interface for running phylogenetic inference tools.
  Select a tool below to get started.
</p>

<ul class="tool-list">
  {% for t in tools %}
  <li>
    <h2><a href="{{ url_for('tool_view', slug=t.slug) }}">{{ t.name }}</a></h2>
    <p>{{ t.description }}</p>
  </li>
  {% endfor %}
</ul>

<h2><i class="bi bi-github"></i> Download</h2>
<p class="lead">
  The standalone version is available <a href = "https://github.com/MotomuMatsui/">here</a>.
</p>

<h2><i class="bi bi-file-earmark"></i> Citation</h2>
<p class="lead">
  If you use Graph Splitting method in your research, please cite: <br>
  <a href = "https://doi.org/10.1093/sysbio/syz049">Motomu Matsui, Wataru Iwasaki (2020) <b>Graph Splitting: A Graph-Based Approach for Superfamily-Scale Phylogenetic Tree Reconstruction</b>, <i>Systematic Biology</i>, 69(2):265–279</a>
</p>

<h2><i class="bi bi-envelope-paper"></i> Feedback</h2>
<p class="lead">
  We appreciate bug reports, comments, and suggestions. Please contact us: <br>
 <a href = "https://sites.google.com/site/motomumatsui/">Motomu Matsui</a>
</p>

{% endblock %}
